/* GENERIC STYLE */
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    max-width: 80vw;
    background-color: rgb(12, 7, 15);
    color: beige;
}
/* TASK LIST STYLE */
.task-list{
    color: black;
}

/*
.new-task{
    position: absolute;
    right: 2px;
}
    */
.task-list ul{
    list-style: none;
}

.task-list a{
    text-decoration: none;
}

.task-list h4{
    color: beige;
    text-align: center;
}

.task-details-icon{
    position: absolute;
    right: 2px;
}
/* DELETE TASK STYLE */

/* CREATE TASK STYLE */
.create-task{
    margin: 3vw 10vw;
}

/* EDIT TASK STYLE */
.edit-task{
    margin: 3vw 10vw;
}

/* UPDATE TASK STYLE */
.update-task{
    margin: 3vw 10vw;
}