/* GENERIC STYLE */
*{
    margin: 0;
    padding: 0;
    
}
body {
    overflow-x: hidden;
    font-size: .8rem;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

/* TASK LIST STYLE */
.to_do {
background-color: transparent;

}

.task-list {
    width: 80vw;
    position: relative;
    margin: auto;
}

.new-task {
    position: absolute;
    right: 0;
}

#new-task-text{
    color:#040303;
    font-size: 1.5em;
    margin-top: -10px;
    margin-right: 5px;
}
    
.task-list ul{
    list-style: none;
}

.task-list li{
    margin-left: 0;
    padding-left: 10px;
    padding-right: 5px;
}

.task-list a{
    text-decoration: none;
}

.task-list h4{
    text-align: center;
}

.task-details-icon{
    position: absolute;
    right: 2px;
    border-radius: 50%;
    border-style: groove;
}

.authentication {
    position: absolute;
    right: 0;
}

.logout {
    text-decoration: none;
    color: rgb(227, 205, 11);
}

.logout a{
    text-decoration: none;
    color: beige;
}
.card{
    background-color:rgba(33, 30, 30, 0.2);
}
#tasktopia {
    text-decoration: none;
    color: beige;
    font-size: 1.5em;
}

#my-task h4 {
    color: antiquewhite;
}
#tasktopia img{
    background-color: antiquewhite;
    border-radius: 50%;
}

/* DELETE TASK STYLE */

/* CREATE TASK STYLE */
.create-task{
    margin: 3vw 10vw;
}

/* EDIT TASK STYLE */
.edit-task{
    margin: 3vw 10vw;
}

/* UPDATE TASK STYLE */
.update-task{
    margin: 3vw 10vw;
}

/* Sidebar*/

.sidebar {
    position: relative;
    left: 0;
    z-index: 100;
    width: fit-content;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
    text-decoration: underline;
}

/*Navbar*/
.navbar .navbar-toggler {
    top: 3rem;
    right: 1rem;
    margin-top: 5px;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.about {
    font-size: 1.5em !important;
    color: white !important;
}