/* GENERIC STYLE */
*{
    margin: 0;
    padding: 0;
    
}
body{
    overflow-x: hidden;
    font-size: .8rem;
    background-image: url('../img/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* TASK LIST STYLE */
.to_do {
background-color: transparent;

}


.new-task{
    position: absolute;
    right: 0;
}
    
.task-list ul{
    list-style: none;
}

.task-list a{
    text-decoration: none;
}

.task-list h4{
    text-align: center;
}

.task-details-icon{
    position: absolute;
    right: 2px;
}

.authentication {
    position: absolute;
    right: 0;
}

.logout {
    text-decoration: none;
    color: rgb(227, 205, 11);
}

.logout a{
    text-decoration: none;
    color: beige;
}

#tasktopia {
    text-decoration: none;
    color: beige;
    font-size: 1.5em;
}

#my-task h4 {
    color: antiquewhite;
}
#tasktopia img{
    background-color: antiquewhite;
    border-radius: 50%;
}

/* DELETE TASK STYLE */

/* CREATE TASK STYLE */
.create-task{
    margin: 3vw 10vw;
}

/* EDIT TASK STYLE */
.edit-task{
    margin: 3vw 10vw;
}

/* UPDATE TASK STYLE */
.update-task{
    margin: 3vw 10vw;
}

/* Sidebar*/

.sidebar {
    position: fixed;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}




/*Navbar*/
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
