<!-- accounts/templates/registration/signup.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-4">Signup</h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>