amqp==5.2.0
annotated==0.0.2
asgiref==3.8.1
blinker==1.8.2
certifi==2024.6.2
cffi==1.16.0
channels==4.1.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.8
dash==2.9.3
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dj-database-url==2.2.0
Django==5.0.6
django-allauth==0.63.3
django-heroku==0.3.1
django-plotly-dash==2.3.1
djangorestframework==3.15.2
django-cors-headers==4.4.0
dpd_components==0.1.0
Flask==3.0.3
gunicorn==22.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mysqlclient==2.2.4
numba==0.59.1
numpy==1.26.4
packaging==24.1
pandas==2.2.2
patsy==0.5.6
plotly==5.22.0
psycopg2==2.9.9
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
scipy==1.14.0
shellingham==1.5.4
six==1.16.0
solus==1.2.2
sortedcontainers==2.4.0
sqlparse==0.5.0
tenacity==8.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.30.1
websockets==12.0
Werkzeug==3.0.3
whitenoise==6.7.0
pyenchant==3.2.2
pylint==3.2.5
psycopg2-binary==2.9.9
django-db-connection-pool==1.2.5