@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styling */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

    html, body{
        box-sizing: border-box;
        overflow-x: hidden;
        min-width: 100%;
        min-height: 100vh;
        background-color:  #F8F9FA;
    }

    h2, h3, h4, h5, h6{
        color: #000;
        font-weight: 600;
    }

    h1{
    color: rgb(25, 129, 247) !important;
    font-weight: 600 !important;
    }

    p{
        color: #333;
    }

    button{
        border: 1px solid #CCCCCC !important;
        width: fit-content;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    #hero-section, #how-it-works-section, #testimonials-section{
        background-color: #F0F0F0 !important;      
    }
a{
    text-decoration: none;
    font-weight: 500;
}

.card{
    background-color: transparent !important;
    border: none;
}

    /****
    HEADER SECTION
    *****/
    #header-section{
        padding: -40px 40px 0 40px;
        min-height: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    /****
    HERO SECTION
    *****/
#hero-section{
    margin: 0 30px 10px 0;
    padding-top: 40px;
    padding-bottom: 10px;
text-align: center;
}

.cta-button{
    position: relative;
    align-self: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hero-text {
    margin-top: 10px;
    font-size: 3.5em;
    min-height: 68px;
}

    /****
    PORTFOLIO SECTION
    *****/
#portfolio-section{
    margin: 15px 20px;
    padding-right: 10px;
align-content: center;
position: relative;
text-align: center;
}

.learn-more-button:hover{
color:#F0F0F0
}

  /****
    HOW-IT-WORKS SECTION
    *****/
    #how-it-works-section{
        margin: 15px 20px;
        padding: 15px 10px;
        position: relative;
        text-align: center;
}

#how-it-works-section > section > .row > h1:nth-child(1) {
    color: rgb(25, 129, 247) !important;
    margin-bottom: 30px;
}

#how-it-works-section i {
    color: rgb(182, 49, 234) !important;
    margin-bottom: 30px;
}

    #how-it-works-section button{
        width: fit-content;
        margin: auto !important;
    }

    #how-it-works-section .col-md-6{
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
        position: relative;
        justify-content: space-evenly;
        margin-top: 20px;
        border-radius: 15px;
    }

    .how-it-works-1{
        margin: auto;
        background: url(../images/flower8.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        max-width: 600px;    
    }
    .how-it-works-2{
        margin: auto;
        background: url(../images/flower19.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        color: #fff;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        max-width: 600px;    
    }
    .how-it-works-3{
        margin: auto;
        background: url(../images/flower22.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        max-width: 600px;    
    }
    .how-it-works-4{
        margin: auto;
        background: url(../images/flower17.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        max-width: 600px; 
        margin-bottom: 30px;   
    }
    .how-it-works-4 p,  .how-it-works-1 p, .how-it-works-4 h4, .how-it-works-1 h4{
        color: #faf8f8;
    }

    .how-it-works-2 h4, .how-it-works-3 h4 {
        color:rgb(25, 129, 247);
    }

      /****
    WHY WORK WITH US SECTION
    *****/
    #why-work-with-us-section {
        margin: 15px 20px;
        padding: 15px 10px;
        position: relative;
        text-align: center;
}

    #why-work-with-us-section > section > .row > h1:nth-child(1) {
        color: rgb(25, 129, 247) !important;
        margin-bottom: 30px;
    }
    
    #why-work-with-us-section i {
        color: rgb(182, 49, 234) !important;
        margin-bottom: 30px;
    }
    
        #why-work-with-us-section button{
            width: fit-content;
            margin: auto !important;
        }

    .get-in-touch{
        color: rgb(49, 2, 9) !important;
        margin-top: 20px;
        animation: get-in-touch 2s infinite;
    }

    @keyframes get-in-touch{
        0% {
            transform: scale(1)
        }
        50% {
            transform: scale(2)
        }
        100% {
            transform: scale(1)
        }
    }

      /****
    TESTIMONIALS
    *****/
 
    .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Spacing between grid items */
}

.testimonial {

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial blockquote {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial cite {
    font-weight: bold;
}

#testimonials-section button{
    width: fit-content;
    margin: auto !important;
    position: relative;
    display: flex !important;
    margin-bottom: 10px;
}

.learn-more-button{
    margin-top: 20px;
}

      /****
    GETTING STARTED
    *****/
    #how-to-get-started-section {
        padding: 10px 10px;
        position: relative;
        text-align: center;
        justify-content: space-evenly;
}
#how-to-get-started-section .row{
    margin: auto;
    justify-content: space-evenly;
}

#how-to-get-started-section h1{
    margin-bottom: 50px;
    margin-top: 20px;
}

#how-to-get-started-section .card-title{
    color:rgb(25, 129, 247) !important;
    margin-bottom: 50px;
}

#how-to-get-started-section i {
    color: rgb(182, 49, 234) !important;
    margin-bottom: 30px;
}
    .get-started-bg-1{
        background: url(../images/flower1.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        margin: 15px;
        color: #fff;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    }
    
        .get-started-bg-2{
        background: url(../images/flower3.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        margin: 15px;
        color: #070832;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .get-started-bg-3{
        background: url(../images/flower2.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        margin: 15px;
        color: #fff;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }
    .get-started-bg-4{
        background: url(../images/flower5.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        margin: 15px;
        color: #0f0c06;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
.get-started-bg-5{
        background: url(../images/flower10.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        margin: 15px;
        color: #fff;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
.get-started-bg-6{
        background: url(../images/flower16.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 20px;
        margin: 15px;
        color: #0f0c06;
        font-weight: 600;
        line-height: 2em;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

/***
Media Queries
***/
@media screen and (min-width: 768px){
    h1, h2, h3, h4, h5, h6{
        font-size: 2em;
    }

};
    
