<footer>
    <div class="container-fluid footer-container text-muted py-5">
        <h4>Contact Us:</h4>
        <a href="https://www.linkedin.com/in/scientistigwe/" class="text-white">Follow on
            Linkedin</a>
        <a href="https://github.com/scientistigwe" class="text-white">Explore my Github</a>
        <a href="https://scientistigwe.github.io/Portfolio/" class="text-white">Visit my
            Profile</a>
        <a href="scientistigwe@gmail.com" class="text-white">Email me</a>
        </ul>




        <p class="float-right mb-1">
            <a href="#tasktopia">Back to top</a>
        </p>
        <p class="mb-1">&copy; 2024 InsiTech International. All rights reserved.</p>
        <p class="mb-0">New to InsiTech Intl? <a href="/">Visit the homepage</a> or read our <a
                href="/docs/5.0/getting-started/introduction/">Services and Features</a>.</p>
    </div>
</footer>