{% extends 'registration/base.html' %}

{% block title %}Create Task | Tasktopia{% endblock %}

{% block content %}
<div class="ms-sm-auto col-lg-12 px-md-4">
    <div class="create-task card p-4">
        <h1 class="mb-3">Create Task</h1>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_title" class="form-label">Title</label>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label for="id_due_date" class="form-label">Due Date</label>
                {{ form.due_date }}
            </div>
            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description }}
            </div>
            <div class="row g-3">
                <div class="col-md-4">
                    <label for="id_priority" class="form-label">Priority</label>
                    {{ form.priority }}
                </div>
                <div class="col-md-4">
                    <label for="id_status" class="form-label">Status</label>
                    {{ form.status }}
                </div>
                <div class="col-md-4">
                    <label for="id_category" class="form-label">Category</label>
                    {{ form.category }}
                </div>
            </div>
            <div class="mt-3 cta">
                <button class="btn btn-outline-success" type="submit">Create Task</button>
                <a class="btn btn-outline-info" href="{% url 'task_list' %}">Back to Task List</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}