<!-- edit_task.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="{% static 'tasks/css/task.css' %}">

    <!-- Favicon Link -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Edit Task</title>
</head>

<body>
    {% extends "base.html" %}

    {% block content %}
    <div class="container edit-task card">
        <h1>Edit Task</h1>
        <form method="post" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
            <div class="col-md-6">
                <label for="id_title" class="form-label">Title</label>
                {{ form.title }}
            </div>
            <div class="col-md-6">
                <label for="id_due_date" class="form-label">Due Date</label>
                {{ form.due_date }}
            </div>
            <div class="col-md-12">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description }}
            </div>
            <div class="col-md-4">
                <label for="id_priority" class="form-label">Priority</label>
                {{ form.priority }}
            </div>
            <div class="col-md-4">
                <label for="id_status" class="form-label">Status</label>
                {{ form.status }}
            </div>
            <div class="col-md-4">
                <label for="id_category" class="form-label">Category</label>
                {{ form.category }}
            </div>
            <div class="col-12">
                <button class="btn btn-outline-success" type="submit">Save</button>
                <a class="btn btn-outline-info" href="{% url 'task_details' object.pk %}">Cancel</a>
            </div>
        </form>
    </div>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>