{% extends 'registration/base.html' %}

{% block title %}Task Details | Tasktopia{% endblock %}

{% block content %}
<div class="task-detail">
    <div class="card">
        <div class="my-3 py-3 text-center">
            <h2 class="display-5">{{ task.title }}</h2>
            <p class="lead">{{ task.description }}</p>
        </div>
        <div class="card-body">
            <p class="card-title">Due Date: {{ task.due_date }}</p>
            <p>Priority: {{ task.priority }}</p>
            {% if task.status == 'Overdue' %}
            <p style="color: red;">Status: {{ task.status }}</p>
            {% elif task.status == 'Completed' %}
            <p style="color: green;">Status: {{ task.status }}</p>
            {% else %}
            <p>Status: {{ task.status }}</p>
            {% endif %}
            <p>{{ task.category }}</p>
            <div class="cta">
                <span class="btn btn-outline-success btn-sm"><a href="{% url 'update_task' task.pk %}">Edit</a></span>
                <span class="btn btn-outline-danger btn-sm"><a
                        href="{% url 'task_confirm_delete' task.pk %}">Delete</a></span>
                <span class="btn btn-outline-info btn-sm"><a href="{% url 'task_list' %}">Back to Task List</a></span>
            </div>
        </div>
    </div>
</div>

{% endblock%}