{% extends 'registration/base.html' %}

{% block title %}Tasks | Tasktopia{% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="new-task">
        <span class="col-md-5">
            <a href="{% url 'create_task' %}" id="new-task-text">
                Add Task <img src="{% static 'tasks/img/add-task.png' %}" width="15" height="15" alt="Add task">
            </a>
        </span>
    </div>
    <div class="row task-list">
        <!-- To do card -->
        <div class="col-md-4">
            <div class="row">
                <span class="col-md-7 d-flex justify-content-start">
                    <h6>To do</h6>
                </span>
                <span class="col-md-5 new-task d-flex justify-content-end">
                    <a href="{% url 'create_task' %}"></a>
                </span>
                <!-- Task Cards -->
                <ul>
                    {% for task in tasks %}
                    {% if task.status == 'Pending' %}

                    <li class="card mb-1">
                        <span class="col-12 card-title" style="color: purple;">
                            {{ task.title }}
                        </span>
                        <span class="col-12 card-text">{{ task.description }}</span>
                        <div class="task-details-icon">
                            <span class="col-12 card-title">
                                <a href="{% url 'task_details' task.pk %}">
                                    <img src="{% static 'tasks/img/task-detail.png' %}" alt="task details icon"
                                        width="20" height="20">
                                </a>
                            </span>
                        </div>
                        <span class="row">
                            <span class="col-4">{{ task.due_date }}</span>
                            <span class="col-4" style="color: purple;">{{ task.status }}</span>
                            <span class="col-4">{{ task.category }}</span>
                        </span>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% for task in tasks %}
                    {% if task.status == 'Overdue' %}
                    <li class="card mb-1">
                        <span class="col-12 card-title" style="color: rgb(230, 71, 71);">
                            {{ task.title }}
                        </span>
                        <span class="col-12 card-text">{{ task.description }}</span>
                        <div class="task-details-icon">
                            <span class="col-12 card-title">
                                <a href="{% url 'task_details' task.pk %}">
                                    <img src="{% static 'tasks/img/task-detail.png' %}" alt="task details icon"
                                        width="20" height="20">
                                </a>
                            </span>
                        </div>
                        <span class="row">
                            <span class="col-4">{{ task.due_date }}</span>
                            <span class="col-4" style="color: rgb(230, 71, 71);">{{ task.status }}</span>
                            <span class="col-4">{{ task.category }}</span>
                        </span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- End of To do card -->
        <!-- In Progress card -->
        <div class="col-md-4">
            <div class="row">
                <span class="col-md-7 d-flex justify-content-start">
                    <h6>In Progress</h6>
                </span>
                <span class="col-md-5 new-task d-flex justify-content-end">
                    <a href="{% url 'create_task' %}"></a>
                </span>
                <!-- Task Cards -->
                <ul>
                    {% for task in tasks %}
                    {% if task.status == 'In Progress' %}
                    <li class="card mb-1">
                        <span class="col-12 card-title" style="color:rgb(15, 123, 238);">
                            {{ task.title }}</span>
                        <span class="col-12 card-text">{{ task.description }}</span>
                        <div class="task-details-icon">
                            <span class="col-12 card-title">
                                <a href="{% url 'task_details' task.pk %}">
                                    <img src="{% static 'tasks/img/task-detail.png' %}" alt="task details icon"
                                        width="20" height="20">
                                </a>
                            </span>
                        </div>
                        <span class="row">
                            <span class="col-4">{{ task.due_date }}</span>
                            <span class="col-4" style="color: rgb(15, 123, 238);">
                                {{ task.status }}</span>
                            <span class="col-4">{{ task.category }}</span>
                        </span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- End of In progress card -->
        <!-- Done card -->
        <div class="col-md-4">
            <div class="row">
                <span class="col-md-7 d-flex justify-content-start">
                    <h6>Done</h6>
                </span>
                <!-- Task Cards -->
                <ul>
                    {% for task in tasks %}
                    {% if task.status == 'Completed' %}
                    <li class="card mb-1">
                        <span class="col-12 card-title" style="color: green;">
                            {{ task.title }}</span>
                        <span class="col-12 card-text">{{ task.description }}</span>
                        <div class="task-details-icon">
                            <span class="col-12 card-title">
                                <a href="{% url 'task_details' task.pk %}">
                                    <img src="{% static 'tasks/img/task-detail.png' %}" alt="task details icon"
                                        width="20" height="20">
                                </a>
                            </span>
                        </div>
                        <span class="row">
                            <span class="col-4">{{ task.due_date }}</span>
                            <span class="col-4" style="color: green;">
                                {{ task.status }}</span>
                            <span class="col-4">{{ task.category }}</span>
                        </span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- End of Done card -->
    </div>
</div>
{% endblock %}