<!-- templates/components/breadcrumbs.html -->
{% if breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        {% for breadcrumb in breadcrumbs %}
        {% if forloop.last %}
        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.title }}</li>
        {% else %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}