{% load static %}
<footer>
    <div class="container-fluid footer-container text-muted py-5">
        <div class="footer-wrapper text-center">
            <h4>Contact Us:</h4>
            <div class="footer-links">
                <div class="row text-center d-flex justify-content-center m-auto" style="max-width: fit-content">
                    <span class="col-3">
                        <a href="https://www.linkedin.com/company/insitech-international/about/?viewAsMember=false"
                            class="text-white d-block" width="300" heigth="300"><img
                                src="{% static 'registration/icons/linkedin.png' %}" class="text-white d-block"
                                width="30" heigth="30"></a>
                    </span>
                    <span class="col-3">
                        <a href="https://github.com/scientistigwe" class="text-white d-block"><img
                                src="{% static 'registration/icons/github.png' %}" class="text-white d-block" width="30"
                                heigth="30"></a>
                    </span>
                    <span class="col-3">
                        <a href="https://scientistigwe.github.io/Portfolio/" class="text-white d-block"><img
                                src="{% static 'registration/icons/website.png' %}" class="text-white d-block"
                                width="30" heigth="30"></a>
                    </span>
                    <span class="col-3">
                        <a href="mailto:scientistigwe@gmail.com" class="text-white d-block"><img
                                src="{% static 'registration/icons/email.png' %}" class="text-white d-block" width="30"
                                heigth="30"></a>
                    </span>


                </div>
                <p class="float-right mb-1">
                    <a href="tasktopia">Back to top</a>
                </p>
                <p class="mb-1">&copy; 2024 InsiTech International. All rights reserved.</p>
                <p class="mb-0">New to InsiTech Intl? <a href="/">Visit the homepage</a> or read our <a
                        href="/docs/5.0/getting-started/introduction/">Services and Features</a>.</p>
            </div>
        </div>
</footer>