<footer>
    <div class="container-fluid footer-container text-muted py-5">
        <div class="footer-wrapper text-center">
            <h4>Contact Us:</h4>
            <div class="footer-links">
                <div class="socials-container">
                    <a href="https://www.instagram.com/" target="_blank"><i
                            class="fab fa-instagram social-icon"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook social-icon"></i></a>
                    <a href="https://github.com/egedegbehenry" target="_blank"><i
                            class="fab fa-github social-icon"></i></a>
                    <a href="https://www.linkedin.com/in/henry-egedegbe-38763284/" target="_blank"><i
                            class="fab fa-linkedin social-icon"></i></a>
                </div>
                <a href="https://www.linkedin.com/in/scientistigwe/" class="text-white d-block">Follow on LinkedIn</a>
                <a href="https://github.com/scientistigwe" class="text-white d-block">Explore my GitHub</a>
                <a href="https://scientistigwe.github.io/Portfolio/" class="text-white d-block">Visit my Profile</a>
                <a href="mailto:scientistigwe@gmail.com" class="text-white d-block">Email me</a>
            </div>

            <p class="float-right mb-1">
                <a href="#tasktopia">Back to top</a>
            </p>
            <p class="mb-1">&copy; 2024 InsiTech International. All rights reserved.</p>
            <p class="mb-0">New to InsiTech Intl? <a href="/">Visit the homepage</a> or read our <a
                    href="/docs/5.0/getting-started/introduction/">Services and Features</a>.</p>
        </div>
    </div>
</footer>