<!-- Start: Sidebar -->
{% if breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        {% for breadcrumb in breadcrumbs %} {% if forloop.last %}
        <li class="breadcrumb-item active" aria-current="page">
            {{ breadcrumb.title }}
        </li>
        {% else %}
        <li class="breadcrumb-item">
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
        </li>
        {% endif %} {% endfor %}
    </ol>
</nav>
{% endif %}
<div class="container-fluid">
    <nav id="sidebarMenu" class="col-md-12 col-lg-12 d-md-block sidebar">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column navigation-item">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'task_list' %}">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Analytics & Insights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" aria-current="page" href="#">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<!-- End: Sidebar -->