{% extends 'registration/base.html' %}

{% block title %}Welcome to Tasktopia{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if messages %}
    {% for message in messages %}
    {% if 'logout' in message.tags %}
    <div class="alert alert-success dim alert-message" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<div class="container-fluid">
    <div class="row py-lg-5 mt-4 text-center">
        <div class="mx-auto">
            <p class="lead text-muted">Welcome to:</p>
            <span class="brand-name mb-3">Tasktopia</span>
            <p class="lead text-muted">A place to build your daily dreams, one task at a time.</p>

            <a href="{% url 'signup' %}" class="btn btn-primary my-2">Sign Up</a>

            <p class="mt-3">Already have an account? <a href="{% url 'login' %}">Log in here</a></p>
        </div>
    </div>
</div>


{% endblock %}