{% extends 'registration/base.html' %}

{% block title %}Password Reset Complete | Tasktopia{% endblock %}

{% block content %}
<div class="container-fluid card password-reset-complete p-4">
    <h1 class="mb-4 d-flex justify-content-center">Password Reset Complete</h1>
    <p class="text-center">Your password has been successfully reset.</p>
    <p class="text-center">You can now <a href="{% url 'login' %}" class="btn btn-primary mt-3 w-100">Login</a> with
        your new password.</p>
</div>
{% endblock %}