{% extends 'registration/base.html' %}

{% block title %}Edit Profile | Tasktopia{% endblock %}

{% block content %}
<div class="container-fluid card mt-5">
    <h2 class="mb-5 d-flex justify-content-center">Edit Profile</h2>

    <!-- Display success message if there is one -->
    {% if success_message %}
    <div class="alert alert-success" role="alert">
        {{ success_message }}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %} <!-- CSRF token for security -->

                <!-- Username input field -->
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    <input type="text" id="id_username" name="username" value="{{ user.username }}" class="form-control"
                        required>
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Email input field -->
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    <input type="email" id="id_email" name="email" value="{{ user.email }}" class="form-control"
                        required>
                    {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- First Name input field -->
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">First Name</label>
                    <input type="text" id="id_first_name" name="first_name" value="{{ user.first_name }}"
                        class="form-control" required>
                    {% for error in form.first_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Last Name input field -->
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Last Name</label>
                    <input type="text" id="id_last_name" name="last_name" value="{{ user.last_name }}"
                        class="form-control" required>
                    {% for error in form.last_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Update Profile button -->
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}