{% extends 'registration/base.html' %}

{% block title %}Edit Profile | Tasktopia{% endblock %}

{% block content %}
<div class="container-fluid card mt-5">
    <h2 class="mb-5 d-flex justify-content-center">Edit Profile</h2>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}

                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}