{% extends 'registration/base.html' %}

{% block title %}Delete Task | Tasktopia{% endblock %}

{% block content %}

<div class="card task-delete d-flex justify-content-center">
    <h1>Confirm Delete</h1>
    <div class="card-body">
        <p>Are you sure you want to delete "{{ task.title }}"?</p>
    </div>
    <form method="post" class="card-footer">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Yes, delete</button>
        <a class="btn btn-success" href="{% url 'task_list' %}">Cancel</a>
    </form>
</div>
{% endblock %}