{% extends 'registration/base.html' %}

{% block title %}Tasks | Tasktopia{% endblock %}

{% block content %}

<div class="container-fluid">
    {% load static %}

    <!-- Alert message handler -->
    {% if success_message %}
    <div class="alert alert-success dismissible-message">
        {{ first_name}} has {{ success_message }}
    </div>
    {% endif %}

    <!-- Alert message handler for task creation success -->
    {% if request.session.task_success_message %}
    <div class="alert alert-success dismissible-message">
        {{ request.session.task_success_message }}
    </div>
    {% endif %}

    <div class="container mt-5">
        {% if messages %}
        {% for message in messages %}
        {% if 'profile' in message.tags %}
        <div class="alert alert-success dim alert-message" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

    <div class="new-task">
        <a href="{% url 'create_task' %}" class="btn btn-primary">
            Add Task <img src="{% static 'tasks/img/add-task.png' %}" width="15" height="15" alt="Add task">
        </a>
    </div>

    <div class="row mt-3">
        <!-- To do card -->
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">To Do</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for task in tasks %}
                    {% if task.status == 'Pending' or task.status == 'Overdue' %}
                    {% include 'tasks/task_card.html' %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- End of To do card -->

        <!-- In Progress card -->
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">In Progress</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for task in tasks %}
                    {% if task.status == 'In Progress' %}
                    {% include 'tasks/task_card.html' %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- End of In Progress card -->

        <!-- Done card -->
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Done</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for task in tasks %}
                    {% if task.status == 'Completed' %}
                    {% include 'tasks/task_card.html' %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- End of Done card -->
    </div> <!-- End of row -->
</div> <!-- End of container-fluid -->

{% endblock %}