{% extends 'registration/base.html' %}

{% block title %}Tasks | Tasktopia{% endblock %}

{% block content %}
<div class="container-fluid">
    {% load static %}
    <div class="new-task">
        <span class="col-md-5">
            <a href="{% url 'create_task' %}" id="new-task-text">
                Add Task <img src="{% static 'tasks/img/add-task.png' %}" width="15" height="15" alt="Add task">
            </a>
        </span>
    </div>

    <div class="row task-list">
        <!-- To do card -->
        <div class="col-md-4">
            <div class="row">
                <span class="col-md-7 d-flex justify-content-start">
                    <h6>To do</h6>
                </span>
                <ul>
                    {% for task in tasks %}
                    {% if task.status == 'Pending' or task.status == 'Overdue' %}
                    {% include 'tasks/task_card.html' %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- End of To do card -->

        <!-- In Progress card -->
        <div class="col-md-4">
            <div class="row">
                <span class="col-md-7 d-flex justify-content-start">
                    <h6>In Progress</h6>
                </span>
                <ul>
                    {% for task in tasks %}
                    {% if task.status == 'In Progress' %}
                    {% include 'tasks/task_card.html' %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- End of In progress card -->

        <!-- Done card -->
        <div class="col-md-4">
            <div class="row">
                <span class="col-md-7 d-flex justify-content-start">
                    <h6>Done</h6>
                </span>
                <ul>
                    {% for task in tasks %}
                    {% if task.status == 'Completed' %}
                    {% include 'tasks/task_card.html' %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- End of Done card -->
    </div>
</div>
{% endblock %}