{% load static %}
{% load i18n %}

{% comment %}
task_card.html should display each task in a Bootstrap card format.
It displays the task title, truncated description, dates, priority, status,
and a checkbox to mark the task as completed.
{% endcomment %}

{% with status_class=task.status|lower %}
<li class="card mb-3">
    <div class="card-body">
        <!-- Task detail -->
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h5
                class="card-title {% if status_class == 'overdue' %}text-danger{% elif status_class == 'in progress' %}text-primary{% elif status_class == 'completed' %}text-success{% else %}text-dark{% endif %} mb-0">
                {{ task.title }}
            </h5>
            <span class="task-detail-icon">
                <a href="{% url 'task_details' task.pk %}">
                    <img src="{% static 'tasks/img/task-detail.png' %}" alt="Task details" width="20" height="20">
                </a>
            </span>
        </div>
        <!-- Description -->
        <p class="card-text mb-1 text-muted">
            {{ task.description|truncatechars:30 }}
        </p>
        <!-- Start and Due date -->
        <div class="row mb-2">
            <div class="col-6">
                <small class="text-muted">Start: {{ task.start_date|date:"M d, Y" }}</small>
            </div>
            <div class="col-6">
                <small class="text-muted">Due: {{ task.due_date|date:"M d, Y" }}</small>
            </div>
        </div>
        <!-- Priority and Category -->
        <div class="row mb-2">
            <div class="col-6">
                <span class="badge bg-secondary">{{ task.get_priority_display }}</span>
            </div>
            <div class="col-6">
                <small class="text-muted">Category: {{ task.category }}</small>
            </div>
        </div>
        <!-- Status and Completion Switch -->
        <div class="row align-items-center">
            <div class="col-md-6">
                {% if status_class == 'in progress' %}
                <small class="text-primary">In progress</small>
                {% elif status_class == 'completed' %}
                <small class="text-success">Completed: {{ task.completion_date|date:"M d, Y" }}</small>
                {% elif status_class == 'pending' %}
                <small class="text-muted">Pending</small>
                {% elif status_class == 'overdue' %}
                <small class="text-danger">Overdue</small>
                {% endif %}
            </div>
            <span class="col-md-6">
                <form id="completeTaskForm{{ task.id }}" action="{% url 'mark_completed' task.pk %}" method="post"
                    class="form-inline" data-status="{{ task.status }}" data-start-date="{{ task.start_date }}"
                    data-due-date="{{ task.due_date }}">
                    {% csrf_token %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="cSwitch{{ task.id }}" name="completed"
                            data-status="{{ task.status }}" data-start-date="{{ task.start_date }}"
                            data-due-date="{{ task.due_date }}">
                        {% if task.status == 'completed' %}checked{% endif %}
                        <label class="form-check-label" for="cSwitch{{ task.id }}">Mark as Completed</label>
                    </div>
                </form>
            </span>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // TASK COMPLETION TOGGLE
                function getCSRFToken() {
                    return document.querySelector('meta[name="csrf-token"]').getAttribute("content");
                }

                function initializeCheckbox() {
                    const checkboxes = document.querySelectorAll(".form-check-input");
                    checkboxes.forEach(function (checkbox) {
                        const status = checkbox.dataset.status;
                        checkbox.checked = status.toLowerCase() === "completed";
                    });
                }

                function getCurrentDate() {
                    return new Date().toISOString().split("T")[0]; // YYYY-MM-DD
                }

                function determineStatus(startDate, dueDate) {
                    const currentDate = getCurrentDate();
                    if (currentDate > dueDate) {
                        return "overdue";
                    } else if (currentDate >= startDate && currentDate <= dueDate) {
                        return "in progress";
                    } else {
                        return "pending";
                    }
                }

                function handleCheckboxChange(event) {
                    const checkbox = event.target;
                    const isChecked = checkbox.checked;
                    const form = checkbox.closest("form");
                    const taskID = form.action.split('/').slice(-2, -1)[0];  // Correctly extract task ID from the form action URL
                    const csrftoken = getCSRFToken();
                    const startDate = form.dataset.startDate;
                    const dueDate = form.dataset.dueDate;
                    const currentDate = getCurrentDate();
                    const taskStatus = form.dataset.status;  // Retrieve the task status from the form data attribute

                    if (isChecked && dueDate > currentDate) {
                        showAlert("You are trying to complete a task with a due date still in the future.");
                        event.preventDefault();
                        return;
                    }

                    if ((isChecked && taskStatus !== "completed") || (!isChecked && taskStatus === "completed")) {
                        $.ajax({
                            url: form.action,
                            type: "POST",
                            data: $(form).serialize(),
                            dataType: "json",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            },
                            success: function (response) {
                                if (response.status === "success") {
                                    location.reload();
                                }
                            },

                        });
                    } else if (!isChecked) {
                        const newStatus = determineStatus(startDate, dueDate);
                        form.dataset.status = newStatus;

                        $.ajax({
                            url: `/tasks/update_status/${taskID}/`,  // Correctly formatted URL for the update_status endpoint
                            type: "POST",
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                                status: newStatus,
                            },
                            dataType: "json",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            },
                            success: function (response) {
                                if (response.status === "success") {
                                    location.reload();
                                }
                            },

                        });
                    }
                }

                initializeCheckbox();
                document.querySelectorAll(".form-check-input").forEach(function (checkbox) {
                    checkbox.addEventListener("change", handleCheckboxChange);
                });

                // Ensure the form is responsive
                const forms = document.querySelectorAll("form.form-inline");
                forms.forEach(function (form) {
                    if (window.innerWidth <= 768) {
                        form.classList.remove("form-inline");
                        form.classList.add("col-md-12");
                    }
                });

                window.addEventListener("resize", function () {
                    forms.forEach(function (form) {
                        if (window.innerWidth <= 768) {
                            form.classList.remove("form-inline");
                            form.classList.add("col-md-12");
                        } else {
                            form.classList.remove("col-md-12");
                            form.classList.add("form-inline");
                        }
                    });
                });
            });
        </script>
</li>
{% endwith %}