{% extends 'registration/base.html' %}

{% block title %}Edit Task | Tasktopia{% endblock %}

{% block content %}
<div class="container edit-task card">
    <h1>Edit Task</h1>
    <form method="post" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}
        <div class="col-md-6">
            <label for="id_title" class="form-label">Title</label>
            {{ form.title }}
        </div>
        <div class="col-md-6">
            <label for="id_due_date" class="form-label">Due Date</label>
            {{ form.due_date }}
        </div>
        <div class="col-md-12">
            <label for="id_description" class="form-label">Description</label>
            {{ form.description }}
        </div>
        <div class="col-md-4">
            <label for="id_priority" class="form-label">Priority</label>
            {{ form.priority }}
        </div>
        <div class="col-md-4">
            <label for="id_status" class="form-label">Status</label>
            {{ form.status }}
        </div>
        <div class="col-md-4">
            <label for="id_category" class="form-label">Category</label>
            {{ form.category }}
        </div>
        <div class="col-12">
            <button class="btn btn-outline-success" type="submit">Save</button>
            <a class="btn btn-outline-info" href="{% url 'task_details' object.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}