{% extends 'registration/base.html' %}

{% block title %}Edit Task | Tasktopia{% endblock %}

{% block content %}
<div class="ms-sm-auto col-lg-12 px-md-4">
    <div class="create-task card p-4">
        <h1 class="mb-3">Edit Task</h1>

        <!-- Display alerts for form errors -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ field.label_tag }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_title" class="form-label">Title</label>
                {{ form.title }}
                {% if form.title.errors %}
                <div class="invalid-feedback" style="display: block;">
                    {% for error in form.title.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="id_start_date" class="form-label">Start Date</label>
                    {{ form.start_date }}
                    {% if form.start_date.errors %}
                    <div class="invalid-feedback" style="display: block;">
                        {% for error in form.start_date.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label for="id_due_date" class="form-label">Due Date</label>
                    {{ form.due_date }}
                    {% if form.due_date.errors %}
                    <div class="invalid-feedback" style="display: block;">
                        {% for error in form.due_date.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description }}
                {% if form.description.errors %}
                <div class="invalid-feedback" style="display: block;">
                    {% for error in form.description.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="id_priority" class="form-label">Priority</label>
                    {{ form.priority }}
                    {% if form.priority.errors %}
                    <div class="invalid-feedback" style="display: block;">
                        {% for error in form.priority.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label for="id_category_type" class="form-label">Category Type</label>
                    {{ category_form.category_type }}
                    {% if category_form.category_type.errors %}
                    <div class="invalid-feedback" style="display: block;">
                        {% for error in category_form.category_type.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div id="other-category" class="col-md-6" style="display: none;">
                    <label for="id_category_name" class="form-label">Specify Category</label>
                    {{ category_form.category_name }}
                    {% if category_form.category_name.errors %}
                    <div class="invalid-feedback" style="display: block;">
                        {% for error in category_form.category_name.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6 mt-4 cta">
                <button class="btn btn-outline-success" type="submit">Save</button>
                <a class="btn btn-outline-info" href="{% url 'task_details' object.pk %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}